.barra {
    display: flex;

    flex-direction: column;
    padding-top: 3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

}

.navegacion {

    a {
        color: antiquewhite;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            align-items: center;


            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}